@import '~antd/dist/antd.css';
body {
    padding: 0;
    margin: 0;
    background: #f5f5f5;
    color: #333;
}

.app {
    margin: 10px auto;
    display: flex;
}

h1 {
    text-align: center;
}

.block {
    padding: 24px;
    border: solid #e8e8e8;
    border-width: 1px;
    margin: 10px;
}

.ant-layout .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.ant-layout .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}